Package: wtools-dbgsym
Source: wtools
Version: 1.0.0-0
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: wangbin
Installed-Size: 2700
Depends: wtools (= 1.0.0-0)
Section: debug
Priority: optional
Description: debug symbols for wtools
Build-Ids: 98b29a8a6631e4bf999c6185db8fe7aa3787c26a
